.listing-container {
    background-color: #FFFF;
    border-radius: 5px;
    height: 490px;
    margin-bottom: 15px;
    padding: 10px;
}

.filterTitle {
    border-bottom: 1px solid #A9A9A9;
    text-align: center;
}

.filterContent {
    background-color: #7DCEA0;
    border: 1px solid #A9DFBF;
    color: #FFFF;
}

.img-container {
    background-color: #E4E9E6;
    margin: 5px;
}

.mission-title{
    color: #5978E7;
    font-weight: bold;
}

label {
    font-weight: bold;
    width: 100px;
}

.details-container {
    text-align: left;
}

.mission-id {
    text-align: left;
}

.img-box{
    max-height: 100%;
    max-width: 100%;
}

.label-content{
    margin-left: 2%;
    text-transform: capitalize;
}

.spinner {
    position: absolute;
    right: 50%;
    top: 30%;
}

.details-content {
    display: flex;
    line-height: 1.3;
}