.listing-container {
    background-color: #FFFF;
    padding: 10px;
    margin-bottom: 15px;
    height: 440px;
    border-radius: 5px;
}

.filterTitle {
    text-align: center;
    border-bottom: 1px solid #A9A9A9;
}

.filterContent {
    border: 1px solid #A9DFBF;
    background-color: #7DCEA0;
    color: #FFFF;
}

.img-container {
    background-color: #E4E9E6;
    margin: 5px;
}
.mission-title{
color: #5978E7;
font-weight: bold;
}

label {
    font-weight: bold;
}

.details-container {
    text-align: left;
}

.mission-id {
    text-align: left;
}

.img-box{
    max-height: 100%;
    max-width: 100%;
}

.label-content{
text-transform: capitalize;
    margin-left: 2%;
}