.filter-container{
    background-color: #FFFF;
    border-radius: 5px;
}

.filter-header {
    font-weight: bold;
    margin-left: 5%;
    padding-top: 2%;
    text-align: left;
}

.filter-title {
    border-bottom: 2px solid #CCCCCC;
    font-weight: 600;
    margin: 0 20px;
}

.filter-content {
    padding: 10px;
}

.filter-value {
    background-color: #CAF0D5;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    text-transform: capitalize;
}